<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found (403)</title>
    <script>
         //  Перенаправлення на сторінку входу (/login)
        function goBack() {
            window.history.back();
        }
    </script>
</head>
<body>
    <h1>Page Not Found (403)</h1>
    <p>The page or command is not available to you, you do not have access rights.</p>
    <button onclick="goBack()">Go Back</button>
    <a href="/">Go to Home</a>
</body>
</html>
